@media (max-width: 1360px) {
  .navbar__divider {
    width: 450px;
  }
}
@media (max-width: 1250px) {
  .navbar__divider {
    width: 330px;
  }
}
@media (max-width: 1170px) {
  .container {
    position: relative;
  }
  .background--home {
    background-image: url('/assets/home/background-home-tablet.jpg');
  }
  .background--destination {
    background-image: url('/assets/destination/background-destination-tablet.jpg');
  }
  .background--crew {
    background-image: url('/assets/crew/background-crew-tablet.jpg');
  }
  .background--technology {
    background-image: url('/assets/technology/background-technology-tablet.jpg');
  }
  .navbar {
    padding-top: 0;
    width: 100%;
    height: 100%;
  }
  .navbar__divider {
    width: 280px;
  }
  .navbar__menu {
    padding: 0 40px;
    justify-content: end;
    width: 100%;
  }
  .home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 96px);
    width: 100vw;
    padding: 128px 40px;
    justify-content: space-between;
  }
  .home__content {
    max-width: 512px;
    align-items: center;
    text-align: center;
  }
  .home__cta {
    place-self: center;
  }

  .destination {
    height: calc(100vh - 96px);
    padding: 40px;
    width: 100%;
  }
  .destination__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    row-gap: 32px;
    column-gap: 0;
  }
  .destination__image {
    width: 300px;
  }
  .destination__details {
    align-items: center;
    gap: 24px;
    max-width: 512px;
  }
  .destination__intro {
    text-align: center;
  }
  .destination__panel {
    gap: 24px;
  }
  .destination__metric {
    align-items: center;
  }

  .crew {
    width: 100%;
    height: calc(100vh - 96px);
    padding: 40px 40px 0 40px;
  }
  .crew__layout {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px; */
    grid-template-columns: 1fr;
    grid-template-rows: 255px 50px 1fr;
    column-gap: 0;
    row-gap: 12px;
    place-items: center;
  }
  .crew__details {
    /* order: 1; */
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 0;
  }
  .crew__profile {
    text-align: center;
    justify-content: start;
    padding-top: 5px;
    max-width: 512px;
    gap: 16px;
  }
  .crew__photo {
    grid-column: 1/3;
    grid-row: 3/4;
    /* order: 3; */
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .crew__photo-img {
    max-height: 495px;
  }
  .crew__navigation {
    grid-column: 1/2;
    grid-row: 2/3;
    /* order: 2; */
  }
  .crew__nav-item {
    width: 55px;
  }
  .crew__nav-button::before {
    width: 60px;
    height: 60px;
  }

  .technology {
    padding: 40px 0;
    height: calc(100vh - 96px);
    margin-left: 0;
  }
  .technology__title {
    padding-left: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .technology__layout {
    display: flex;
    flex-direction: column;
    justify-content: start;
    column-gap: 0px;
    padding-top: 44px;
    gap: 32px;
  }
  .technology__wrapper {
    order: 1;
    flex-direction: column;
    gap: 40px;
  }
  .technology__tab-list {
    flex-direction: row;
  }
  .technology__tab-button {
    width: 56px;
    height: 56px;
  }
  .technology__info {
    max-width: 512px;
    text-align: center;
  }
  .technology__media {
    height: 310px;
  }
}

@media (max-width: 1130px) {
  .navbar__divider {
    width: 240px;
  }
}
@media (max-width: 1050px) {
  .navbar__divider {
    display: none;
  }
}
@media (max-width: 820px) {
  .navbar {
    padding-top: 0;
    width: 100%;
    height: 100%;
  }
  .navbar__logo {
    margin: 0 40px;
  }
  .navbar__menu {
    margin-left: 0;
    padding: 0 40px;
    width: 100%;
    justify-content: end;
  }
  .navbar__link {
    column-gap: 6px;
  }
  .home__container {
    height: calc(100vh - 96px);
    padding: 128px 40px;
    justify-content: space-between;
  }
  .destination {
    height: calc(100vh - 96px);
    padding: 40px;
    width: 100%;
  }
  .destination__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    row-gap: 32px;
    column-gap: 0;
  }
  .destination__image {
    width: 300px;
  }
  .destination__details {
    align-items: center;
    gap: 24px;
    max-width: 512px;
  }
  .destination__intro {
    text-align: center;
  }
  .destination__panel {
    gap: 24px;
  }
  .destination__metric {
    align-items: center;
  }
}

@media (max-width: 430px) {
  .background--home {
    background-image: url('/assets/home/background-home-mobile.jpg');
  }
  .background--destination {
    background-image: url('/assets/destination/background-destination-mobile.jpg');
  }
  .background--crew {
    background-image: url('/assets/crew/background-crew-mobile.jpg');
  }
  .background--technology {
    background-image: url('/assets/technology/background-technology-mobile.jpg');
  }

  .navbar {
    height: 0;
    padding-top: 0;
    z-index: 999;
    /* display: none */
  }
  .navbar__container{
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
.navbar__menu{
  flex-direction: column;
  height: 100vh;
  align-items: start;
  justify-content: start;
  margin-left: 0;
  padding: 0;
}
.navbar__menu-item{
  height: 0;
}
.home__container{
  height: 100%;
  padding: 0;
  justify-content: center;
}
}
