@media (max-width: 1360px) {
  .navbar__divider {
    width: 450px;
  }
}
@media (max-width: 1250px) {
  .navbar__divider {
    width: 330px;
  }
}
@media (max-width: 1170px) {
  .container {
    position: relative;
  }
  .background--home {
    background-image: url('/assets/home/background-home-tablet.jpg');
  }
  .background--destination {
    background-image: url('/assets/destination/background-destination-tablet.jpg');
  }
  .background--crew {
    background-image: url('/assets/crew/background-crew-tablet.jpg');
  }
  .background--technology {
    background-image: url('/assets/technology/background-technology-tablet.jpg');
  }
  .navbar {
    padding-top: 0;
    width: 100%;
    height: 100%;
  }
  .navbar__divider {
    width: 280px;
  }
  .navbar__menu {
    padding: 0 40px;
    justify-content: end;
    width: 100%;
  }
  .home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 96px);
    width: 100vw;
    padding: 128px 40px;
    justify-content: space-between;
  }
  .home__content {
    max-width: 512px;
    align-items: center;
    text-align: center;
  }
  .home__cta {
    place-self: center;
  }

  .destination {
    height: calc(100vh - 96px);
    padding: 40px;
    width: 100%;
  }
  .destination__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    row-gap: 32px;
    column-gap: 0;
  }
  .destination__image {
    width: 300px;
  }
  .destination__details {
    align-items: center;
    gap: 24px;
    max-width: 512px;
  }
  .destination__intro {
    text-align: center;
  }
  .destination__panel {
    gap: 24px;
  }
  .destination__metric {
    align-items: center;
  }

  .crew {
    width: 100%;
    height: calc(100vh - 96px);
    padding: 40px 40px 0 40px;
  }
  .crew__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .crew__details {
    order: 1;
    padding: 0;
  }
  .crew__profile {
    text-align: center;
    padding-top: 40px;
    max-width: 512px;
    gap: 16px;
  }
  .crew__photo {
    display: flex;
    justify-content: center;
    order: 3;
    padding-top: 16px;
    width: 100%;
  }
  .crew__photo-img {
    max-height: 480px;
  }
  .crew__navigation {
    order: 2;
  }
  .crew__nav-item {
    width: 55px;
  }
  .technology {
    padding: 40px 0;
    height: calc(100vh - 96px);
    margin-left: 0;
  }
  .page__title{
    padding-left: 40px;
  }
  .technology__layout {
    display: flex;
    flex-direction: column;
    justify-content: start;
    column-gap: 0px;
    padding-top: 64px;
    gap: 32px;
  }
  .technology__wrapper {
    order: 1;
    flex-direction: column;
    gap: 40px;
  }
  .technology__tab-list {
    flex-direction: row;
  }
  .technology__tab-button{
    width: 56px;
    height: 56px;
  }
  .technology__info{
    max-width: 512px;
    text-align: center;
  }
}

@media (max-width: 1130px) {
  .navbar__divider {
    width: 240px;
  }
}
@media (max-width: 1050px) {
  .navbar__divider {
    display: none;
  }
}
@media (max-width: 820px) {
  .background--home {
    background-image: url('/assets/home/background-home-tablet.jpg');
  }
  .navbar {
    padding-top: 0;
    width: 100%;
    height: 100%;
  }
  .navbar__logo {
    margin: 0 40px;
  }
  .navbar__menu {
    margin-left: 0;
    padding: 0 40px;
    width: 100%;
    justify-content: end;
  }
  .navbar__link {
    column-gap: 6px;
  }
  .home__container {
    height: calc(100vh - 96px);
    padding: 128px 40px;
    justify-content: space-between;
  }
  .destination {
    height: calc(100vh - 96px);
    padding: 40px;
    width: 100%;
  }
  .destination__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    row-gap: 32px;
    column-gap: 0;
  }
  .destination__image {
    width: 300px;
  }
  .destination__details {
    align-items: center;
    gap: 24px;
    max-width: 512px;
  }
  .destination__intro {
    text-align: center;
  }
  .destination__panel {
    gap: 24px;
  }
  .destination__metric {
    align-items: center;
  }
}
