/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

button {
  font: inherit;
  border: initial;
  outline: initial; /* create alternative for focus state */
  background-color: initial;
}

input {
  border: initial;
  outline: initial; /* create alternative for focus state */
  font: inherit;
}

/* UTILITIES */
.u-bold {
  font-weight: 500;
}

/* BASE */

:root {
  /* COLORS */
  --blue-900: #0b0d17;
  --blue-300: #d0d6f9;
  --white: #ffffff;

  --color-rgb-blue-900: 11, 13, 23;
  --color-rgb-blue-300: 208, 214, 249;
  --color-rgb-white: 255, 255, 255;

  --color-hsl-blue-900: 230, 35%, 7%;
  --color-hsl-blue-300: 231, 77%, 90%;
  --color-hsl-white: 0, 0%, 100%;

  /* SPACING (scale in px) */
  --space-1600: 128px;
  --space-1200: 96px;
  --space-1000: 80px;
  --space-800: 64px;
  --space-600: 48px;
  --space-500: 40px;
  --space-400: 32px;
  --space-300: 24px;
  --space-200: 16px;
  --space-150: 12px;
  --space-100: 8px;
  --space-50: 4px;
  --space-25: 2px;
}

/* Keyframes */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* TYPOGRAPHY */
body {
  font-family: 'Barlow', sans-serif;
  color: var(--white);
  background-color: var(--blue-900);
  height: 100vh;
  position: relative;
}

.container {
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* Bellefair Text Presets */
.text-preset-1 {
  font-family: 'Bellefair', serif;
  font-size: 144px;
  line-height: 1.719;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: 'Bellefair', serif;
  font-size: 100px;
  font-weight: 400;
  line-height: 1.146;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: 'Bellefair', serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.142;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-family: 'Bellefair', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.147;
  letter-spacing: 0px;
}

.text-preset-6 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 1.146;
  letter-spacing: 0px;
}

/* Barlow Condensed Presets */
.text-preset-5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--blue-300);
}

.text-preset-7 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-preset-8 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}

.text-preset-9 {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: 0px;
  color: var(--blue-300);
}

/* Utility Classes */
.text-white {
  color: var(--white);
}

.bg-blue-900 {
  background-color: var(--blue-900);
}

.bg-blue-300 {
  background-color: var(--blue-300);
}

.title-number {
  font-size: 28px;
  font-weight: 700;
  font-family: 'Barlow Condensed';
  color: var(--white);
  opacity: 0.25;
  letter-spacing: 4.72px;
}

.background {
  background-size: cover;
  background-position: center;
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.background--home {
  background-image: url('/assets/home/background-home-desktop.jpg');
}
.background--destination {
  background-image: url('/assets/destination/background-destination-desktop.jpg');
}
.background--crew {
  background-image: url('/assets/crew/background-crew-desktop.jpg');
}
.background--technology {
  background-image: url('/assets/technology/background-technology-desktop.jpg');
}

/* Home */
.home {
  height: calc(100vh - 80px - 40px);
  display: flex;
  margin: 0 10rem;
}

.hero {
  display: grid;
  margin-top: 25rem;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue-900);
  background-color: var(--white);
  height: 272px;
  width: 272px;
  border-radius: 50%;
  transition: all 1s ease-out;
  cursor: pointer;
}

.button {
  position: relative;
  margin: 6rem 0 0 15rem;
  z-index: 1;
}

.hero-button::before {
  content: '';
  height: 420px;
  width: 420px;
  background-color: rgba(255, 255, 255);
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s ease-out;
}
.hero-button:hover::before {
  opacity: 0.1;
}
.hero-button:hover {
  color: grey;
  transform: scale(1.03);
}

/* Header */
.navbar {
  padding-top: 40px;
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 48px;
  width: 48px;
  margin: 0 5rem;
  z-index: 99;
}

.nav-line {
  height: 1px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 999;
  position: absolute;
  left: 10rem;
}

.nav-links {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--blue-300);
  backdrop-filter: blur(10px);
  display: flex;
  height: 96px;
  padding: 0 64px;
  margin-left: auto;
  width: 710px;
  justify-content: end;
  align-items: center;
  gap: 48px;
}

.nav-links li:hover:not(.active) {
  color: var(--white);
}

.nav-links li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.active {
  color: var(--white);
}

.active::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: white;
  left: 0;
  bottom: 0;
}

.nav-links li::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: scale(0, 1);
  transition: all 0.3s ease-out;
}

.text-preset-8:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

/* Destination */
.destination-page {
  padding: 5rem 10rem 5rem 10rem;
  height: 100%;
}

.destination {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  align-items: flex-start;
  margin-top: 10rem;
}

.destination-image {
  animation: rotate 60s linear infinite;
}

.destination-tabs {
  display: flex;
  gap: 32px;
}

.destination-nav {
  color: var(--blue-300);
  cursor: pointer;
}

.destination-nav::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  left: 0;
  bottom: -10px;
  opacity: 0;
  transform: scale(0, 1);
  transition: all 0.3s ease-out;
}

.destination-nav:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.destination-info nav ul li {
  position: relative;
}

.destination-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 5.9rem;
}

.destination-tabs__active {
  color: var(--white);
}

.destination-tabs__active::after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: -10px;
}

.destination-line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 2rem 0;
}

.destination-meta {
  display: flex;
  gap: 10rem;
}

.destination-meta h3 {
  margin-bottom: 1rem;
  color: var(--blue-300);
}

/* CREW */
.crew-container {
  padding: 5rem 5rem 0rem 10rem;
  height: calc(100vh - 80px - 40px);
}

.crew {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
  column-gap: 5rem;
  position: relative;
}

.crew-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crew-container nav {
  position: absolute;
  bottom: 10rem;
  left: 10rem;
}

.crew-info {
  display: flex;
  flex-direction: column;
  padding-top: 11rem;
  gap: 24px;
  height: 100%;
}
.crew-info h3 {
  opacity: 0.5;
}
.crew-nav {
  display: flex;
  gap: 40px;
}

.crew-button {
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.crew-button__active {
  background-color: rgba(255, 255, 255);
}

.image-container {
  position: absolute;
  top: 90px;
  right: 100px;
}

.crew-image {
  width: 450px;
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.crew-image__edit {
  width: 360px;
  position: absolute;
  top: -50px;
  right: 100px;
}
.crew-image__edit1 {
  position: absolute;
  right: 10px;
  top: -80px;
}

/* Technology */
.technology-container {
  padding: 5rem 0rem 0rem 10rem;
  height: calc(100vh - 80px - 40px);
  width: 100%;
  position: relative;
}

.technology-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 32px;
  top: 23rem;
}

.technology-content {
  display: flex;
  gap: 2rem;
  padding-top: 8.8rem;
}

.technology-info {
  padding-left: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.technology-info h3 {
  opacity: 0.5;
}
.technology-button {
  width: 80px;
  height: 80px;
  color: var(--white);
  border: solid 1px rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.technology-button:hover:not(.technology-button__active) {
  background-color: rgba(255, 255, 255, 0.09);
  border: solid 1px rgba(255, 255, 255, 0.5);
}

.technology-button__active {
  background-color: var(--white);
  color: var(--blue-900);
}

.technology-image__container {
  justify-self: right;
}

/* Media Queries */

@media (768px <= width <= 1440px) {
  .background--home {
    background-image: url('/assets/home/background-home-tablet.jpg');
  }

  .container {
    width: 768px;
    height: 1024px;
  }

  .navbar {
    padding-top: 0;
  }
  .nav-line {
    display: none;
  }
  .nav-links {
    width: 800px;
  }
  .nav-logo {
    margin: 0 40px;
  }

  .home {
    margin: 0;
  }
  .hero {
    display: flex;
    flex-direction: column;
    margin: 128px 40px;
  }
  .hero-text {
    text-align: center;
    padding: 0 88px;
  }
  .text-preset-1 {
    line-height: 1.5;
  }
  .button {
    margin: 0;
    margin-top: 6rem;
    left: 210px;
  }
  .hero-button::before {
    height: 400px;
    width: 400px;
  }

  .destination-page {
    padding: 40px;
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .destination {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 32px;
    margin: 0;
  }
  .destination-info {
    padding-right: 0;
    align-items: center;
    text-align: center;
    width: 510px;
  }
  .destination-image {
    width: 300px;
    height: auto;
  }
  .destination-line {
    margin: 24px 0;
  }
  .destination-meta {
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  .container {
    height: 768px;
    width: 1024px;
  }

  .nav-links {
    width: 650px;
  }
  .nav-line {
    display: block;
    width: 250px;
  }
  .nav-logo {
    margin: 0 60px;
  }
  .text-preset-1 {
    line-height: 1.3;
  }

  .hero {
    display: grid;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .hero-text {
    text-align: start;
    padding: 0 0rem 0 60px;
  }
  .button {
    margin: 0;
    left: 0;
    justify-self: center;
  }

  .destination-page{
    gap: 0;
    padding: 40px 60px;
  }
  .destination {
    display: grid;
    grid-template-rows: 0fr 0fr;
    grid-template-columns: 1fr 1fr;
    place-content: start;
    gap: 0;
    height: 100%;
    padding: 80px 20px 0 20px;
  }
  .destination-info {
    padding-right: 0;
    align-items: start;
    text-align: start;
    width: auto;
  }
  .destination-meta {
    justify-content: start;
  }
}
